.num-guesses {
    margin-top: 3px;
    font-size: 1.44rem;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .answer-text {
        font-size: 2rem;
    }
}

.spaced-button-col {
    margin: 5px;
}

.spaced-button-col button {
    font-size: larger;
}