#scoreboard h3 {
    margin-top: 25px;
}

#scoreboard {
    margin-bottom: 20px;
}

.scoreboard-pill {
    font-size: small;
    margin: 1px
}

#clear-scoreboard {
    font-size: small;
}

#clear-scoreboard:hover {
    text-decoration: white wavy underline;
}