.clue-content {
    margin: 10px 0px 10px 0px;
    padding: 5px
}

#left-col {
    padding-right: 5px;
}

#right-col { 
    padding-left: 5px;
}

@media screen and (max-width: 768px) {
    #right-col {
        padding-left: 15px;
    }

    #left-col {
        padding-right: 15px;
    }
} 